.single_post_Box {
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
    border: 10px solid gray;
    border-radius: 25px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_post_Image {
    width: 700px;
   height: 700px;
   object-fit: scale-down;
   float: left;
   margin-right: 2px;
   max-width: 100%;
}

.single_post_title {
    color: rgb(39, 39, 39);
    font-family: 'Trebuchet MS';
}

.single_post_text {
    color: rgb(39, 39, 39);
    font-family: 'Trebuchet MS';
    font-size: larger;
    display: -webkit-box;
    letter-spacing: 1px;
    hyphens: auto;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}